@font-face {
  font-family: "Oriental";
  src: url("./fonts/Shikamaru-eZKJn.ttf") format("truetype");
}

@font-face {
  font-family: "Futurista";
  src: url("./fonts/HackingtrashedRegular-E179.ttf") format("truetype");
}
