body {
  background-color: #ed254e;
}

header h1,
.nav-link {
  color: white;
}

.card-title h3,
.card-text,
body h2 {
  text-align: center;
}

.custom-width {
  width: 50%;
  margin: 0 auto;
}

.form label, .form input{
  padding: 6px;
}

.form button{
  margin-top: 10px;
  padding: 10px;
}