body {
  background-color: #272829;
  color: white;
}

header .container img {
  max-width: 90px;
  max-height: auto;
  border-radius: 15%;
}

header h1,
.nav-link {
  color: white;
  margin-left: 10px;
}

.part1 {
  font-family: "Oriental", sans-serif;
}

.part2 {
  font-family: "Futurista", sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
  color: #D80032;
}

nav .nav-link {
  font-size: 20px;
  border-bottom: 1px solid transparent;
}

nav .nav-link:hover {
  color: #D80032;
  border-bottom: 1px solid #D80032;
}

.carousel-item img{
  max-width: 100%;
  max-height: 50%;
}

#catalogo h2 {
  margin: 0 auto;
  width: 50%;
  padding: 6px;
  border-bottom: 1px solid #D80032;
}

#catalogo h2:hover{
  color: #D80032;
  cursor: pointer;
}

.card-title h3,
.card-text,
body h2 {
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 550px;
}

.card-title {
  border-bottom: 1px solid black;
}

.custom-width {
  width: 50%;
  margin: 0 auto;
}

.sugest {
  border-bottom: 1px solid #D80032;
  padding: 6px;
}

.sugest:hover{
  color: #D80032;
  cursor: pointer;
}

.form label,
.form input {
  padding: 6px;
}

.form button {
  margin-top: 10px;
  padding: 10px;
}

.form label {
  margin-top: 4px;
  font-size: 19px;
}

footer h5 {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
